{% extends 'base.html' %}

{% block content %}


<h1 style="color:Tomato; text-align:center; ">
	Hello {{name}}! This has been my home for {{age}} years. 
</h1>

<a href="indes" target="_self">HOME</a><br>
<a href="checker" target="_self">OPERATION</a><br>

<font face="Verdana" size="7" color="Tomato"> SUBTRACTION OPERATION </font>



<form action="sub" method="post">
	{% csrf_token %}

	Enter 1st Number : <input type="text" name="num1"><br>
	Enter 2nd Number : <input type="text" name="num2"><br>
	<input type="submit">
</form>



{% endblock %}